
include ../templates/header
include ../templates/navbar

.container.mt-5
    .row
        .col-2
        .col-8
            .row
                .col
                    if params.error
                        .alert.alert-danger
                            span #{params.error}
            .row
                .col
                    .card(style="margin-bottom: 100px;")
                        .card-header Editar juguete ##{juguete._id}
                        .card-body 
                            form(action="/juguetes/" + juguete._id, method="post")
                                .form-group
                                    label(for='nombre') Nombre
                                    input#nombre.form-control(type='text' name='nombre' value=juguete.nombre)
                                .form-group
                                    label(for='precio') Precio
                                    input#precio.form-control(type='number' name='precio' value=juguete.precio)
                                .form-group
                                    label(for='peso') Peso
                                    input#peso.form-control(type='number' name='peso' value=juguete.peso)
                                .form-group
                                    label(for='stock') Peso
                                    input#stock.form-control(type='number' name='stock' value=juguete.stock)
                                .form-group.text-right
                                    button.btn.btn-default(type='submit') Editar
        .col-2
          
include ../templates/footer
